*body {
    margin: 0 auto;
    padding: 0 auto;
    height: 690px;
    width: 100%;
}
.block_third {
    height: 446px;
    width: 1440;
    margin-top: 120px;
    background-image: url("../Images/python.png");
    background-size: cover;
}

@media(max-width: 415px) {
    .block_third {
        height: 116px;
        width: 415;
        margin-top: 40px;
        background-image: url("../Images/python.png");
        background-size: cover;
    }
}